.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"overlap";
}
.calculatorOutbox {
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 3px #e9e9e9;
    background: #000000;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 3px solid #aaa;
    border-radius: 6px;
    font-size: 0.9em;
    background-color: #fafafa;
    margin-top: 1.7%;
    margin-left: 34.4%;
    height: 97.2%;
    width: 35.7%;
    grid-area: overlap;
}
.inputBox{
    color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 3px #e9e9e9;
    background-color: #322e2e;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 3em;
    margin-top: 3%;
    margin-left: 36%;
    height: 20%;
    width: 32.5%;
    grid-area: overlap;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
}
.inputBox .prev-num{
    color: rgba(225, 225, 225, .75);
    font-size: 1.5rem;
}
.inputBox .current-num{
    color: white;
    font-size: 2.5rem;
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .zero, .multiply, .divide, .minus, .equal, .clear, .dubzero, .decimal, .Del{
    box-sizing: border-box;
    background: #000000;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 3rem;
    background-color: #fafafa;
    height: 16%;
    width: 6%;
    text-align: center;
    grid-area: overlap;
}
.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover, .zero:hover, .equal:hover, .clear:hover, .multiply:hover, .divide:hover, .plus:hover, .minus:hover, .Del:hover, .dubzero:hover, .decimal.hover{
    background-color: rgb(198, 198, 198);
    cursor: pointer;
}
.seven{
    margin-top: 12%;
    margin-left: 36%;
}
.eight{
    margin-top: 12%;
    margin-left: 42.5%;
}
.nine{
    margin-top: 12%;
    margin-left: 49.12%;
}
.four{
    margin-top: 18.85%;
    margin-left: 36%;
}
.five{
    margin-top: 18.85%;
    margin-left: 42.5%;
}
.six{
    margin-top: 18.85%;
    margin-left: 49.12%;
}
.one{
    margin-top: 25.7%;
    margin-left: 36%;
}
.two{
    margin-top: 25.7%;
    margin-left: 42.5%;
}
.three{
    margin-top: 25.7%;
    margin-left: 49.12%;
}
.zero{
    margin-top: 32.55%;
    margin-left: 42.5%;
}
.dubzero{
    margin-top: 32.55%;
    margin-left: 36%;
}
.decimal{
    margin-top: 32.55%;
    margin-left: 49.12%;
}
.divide{
    margin-top: 12%;
    margin-left: 55.77%;
}
.multiply{
    margin-top: 18.85%;
    margin-left: 55.77%;
}
.minus{
    margin-top: 25.7%;
    margin-left: 55.77%;
}
.plus{
    margin-top: 18.85%;
    margin-left: 62.5%;
    height: 33%;
    width: 6%;
    box-sizing: border-box;
    background: #000000;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 3rem;
    background-color: #fafafa;
    text-align: center;
    grid-area: overlap;
}
.Del{
    margin-top: 12%;
    margin-left: 62.5%;
    font-size: 225%;
}
.clear{
    margin-top: 32.55%;
    margin-left: 55.77%;
    font-size: 225%;
}
.equal{
    margin-top: 32.55%;
    margin-left: 62.5%;
}
body{
    background: #ffffff url(background.jpg);
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 2rem;
    color: rgb(233, 179, 91);
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}